#
# (c) 2024, Yegor Yakubovich, yegoryakubovich.com, personal@yegoryakybovich.com
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#


API_PORT=8000
TASKS_FLOWER_PORT=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_NAME=

REDIS_HOST=
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

FLOWER_USER=
FLOWER_PASSWORD=

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_MANAGER=
TELEGRAM_ABOUT=
TELEGRAM_INFO=
TELEGRAM_REVIEWS=

ROOT_TOKEN=
SITE_URL=
FILE_OPEN_URL=
FILE_UPLOAD_URL
CHAT_URL=
FILE_URL=
SYNC_DB_URL=
SYNC_DB_TABLE_NAME=
DEBUG=1
WALLET_MAX_COUNT=
WALLET_MAX_VALUE=

TEST=False
TEST_FILE_OPEN_URL=
TEST_FILE_UPLOAD_URL=
TEST_CHAT_URL=
TEST_FILE_URL=
TEST_SYNC_DB_URL=
