uvicorn==0.27.1
fastapi==0.110.0
pydantic==2.6.3
pydantic_settings
jinja2
sqlalchemy==2.0.27
aiomysql
alembic
aiogram
pytz==2024.1
inflection~=0.5.1
starlette==0.36.3
celery[redis]~=5.3.6
flower
addict==2.4.0
python-multipart==0.0.9
pillow==10.2.0
apscheduler==3.10.4
gspread==6.0.2
oauth2client==4.1.3
aiohttp==3.9.3
furl==2.1.3
cryptography
