fastapi==0.110.0
uvicorn==0.27.1
pytz==2024.1
inflection~=0.5.1
starlette==0.36.3
pydantic==2.6.3
pydantic_settings
sqlalchemy==2.0.27
aiomysql
celery[redis]~=5.3.6
flower
addict==2.4.0
python-multipart==0.0.9
pillow==10.2.0
websocket
